:root {
    --primary-color: #FFCA2B;
    --text-color: #999;
    --white-color: #fff;
}

.navbar {
    box-shadow: 0 0 10px var(--text-color) !important;
}

.primary-item {
    transition: linear 0.2s;
    position: relative;
    right: 0;
}

.primary-item:hover {
    color: var(--primary-color) !important;
    right: -2px;
}

.text-color-primary:hover {
    color: var(--primary-color) !important;
    transition: linear 0.3s;
}

.form-control.success input {
	border-color: #2ecc71 !important;
}

.form-control.error input {
	border-color: #e74c3c !important;
}

.input-group.flex-nowrap {
	position: relative!important;
}

.fix-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

#live-search:focus ~ #live-search__result {
    display: block;
}

.live-search__result-link:hover {
	background-color: #F7F7F7;
}

#live-search__result {
	background-color: #fff;
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 120%;
    border-radius: 2px;
    z-index: 10;
	box-shadow: 0 1px 1px rgb(0, 0, 0 );
}

.articles-img {
    height: 100px;
    object-fit: contain;
}

.articles-desc {
    font-size: 16px;
    color: var(--black-color);
    margin: 12px 0px;
    height: 46px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.article-wrap {
    background-color: #fff;
}

.article-title {
    font-weight: bold;
    font-size: 20px;
}
  
.article-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-info {

}

.article-reaction {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    padding: 8px 0;
    justify-content: space-around;
}

.article-reaction button {
    flex: 1;
    margin: 0 4px;
}

.article-reaction a {
    flex: 1;
    margin: 0 4px;
    width: 33.33%;
}