<% block('title').append('Contact page') %> <% layout('layouts/main') -%>
<div class="container-fluid bg-light py-5">
    <div class="row mt-3 mb-3 ms-5  ">
        <a href="#" class="text-decoration-none" style="display: contents">Trang chủ</a> > Liên hệ
    </div>
    <div class="row">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Liên hệ với chúng tôi</h1>
            <p>
                Bạn có thắc mắc về dịch vụ của chúng ta? Hãy gửi tin nhắn cho chúng tôi tại đây.
            </p>
        </div>
    </div>
</div>

<!-- start contact page -->
<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" action="" method="post" role="form">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="contactName">Tên của bạn</label>
                    <input type="text" class="form-control mt-1" id="contactName" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="contactEmail">Email</label>
                    <input type="email" class="form-control mt-1" id="contactEmail" name="email" placeholder=" Enter your email">
                </div>
            </div>
            <div class="mb-3">
                <label for="contactMessage">Tin nhắn</label>
                <textarea class="form-control mt-1" id="contactMessage" name="message" placeholder="Message" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button name="submit" type="submit" class="btn btn-success btn-lg px-5 contact-btn">Gửi</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end contact page -->